<div class="dropdown-menu " aria-labelledby="docsDropdown">
    <a class="d-flex align-items-center text-reset text-decoration-none" href="{{webRoot}}/marketingaudit.html">
  
      
      <div class="ms-3">
  
        <!-- Heading -->
        <h6 class=" text-primary mb-0">
            MarTech Audit and Assurance
        </h6>
  
       
  
      </div>
  
    </a>
    <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/growthmarketing.html">
  
  
      <div class="ms-3">
  
        <!-- Heading -->
        <h6 class=" text-primary mb-0">
            Growth Marketing Automation            
        </h6>
  
       
      </div>
  
    </a>
    <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/customerengineering.html">
  
      <div class="ms-3">
  
        <!-- Heading -->
        <h6 class=" text-primary mb-0">
            Customer Data Engineering
        </h6>
  
      </div>
  
    </a>
    <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/productanalytics.html">
  
        
    
        <div class="ms-3">
    
          <!-- Heading -->
          <h6 class="text-primary mb-0">
            Product Analytics and Business Intelligence
          </h6>
    
          <!-- Text -->
          <!-- <span>This is the new version</span> -->
    
        </div>
    
      </a>
  </div>
  