<div class="dropdown-menu dropdown-menu-lg" aria-labelledby="docsDropdown">
    <a class="d-flex align-items-center text-reset text-decoration-none" href="{{webRoot}}/docs/index.html">
  
      <!-- Icon -->
      <div class="icon text-primary-light">
        {{> general/clipboard}}
      </div>
  
      <div class="ms-3">
  
        <!-- Heading -->
        <h6 class="text-uppercase text-primary mb-0">
            Why Springwood?
        </h6>
  
        <!-- Text -->
        <!-- <span>Compiling and building.</span> -->
  
      </div>
  
    </a>
    <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/docs/alerts.html">
  
      <!-- Icon -->
      <div class="icon text-primary-light">
        {{> layout/layout-arrange}}
      </div>
  
      <div class="ms-3">
  
        <!-- Heading -->
        <h6 class="text-uppercase text-primary mb-0">
            The Springwood Factor
        </h6>
  
        <!-- Text -->
        <!-- <span>Full list of pieces in the theme</span> -->
  
      </div>
  
    </a>
    <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/docs/changelog.html">
  
      <!-- Icon -->
      <div class="icon text-primary-light">
        {{> files/file}}
      </div>
  
      <div class="ms-3">
  
        <!-- Heading -->
        <h6 class="text-uppercase text-primary mb-0">
            Transformation Stories
        </h6>
  
        <!-- Text -->
        <span>MarTech Transformation</span>
  
      </div>
  
    </a>
    <a class="d-flex align-items-center text-reset text-decoration-none " href="{{webRoot}}/docs/changelog.html">
  
        <!-- Icon -->
        <div class="icon text-primary-light">
        </div>
    
        <div style="padding-left: 12px;" class="ms-8">
    
          <!-- Heading -->
          <!-- <h6 class="text-uppercase text-primary mb-0">
              Transformation Stories
          </h6> -->
    
          <!-- Text -->
          <span>SalesTech Transformation</span>
    
        </div>
    
      </a>
      <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/docs/changelog.html">
  
        <!-- Icon -->
        <div class="icon text-primary-light">
          {{> files/file}}
        </div>
    
        <div class="ms-3">
    
          <!-- Heading -->
          <h6 class="text-uppercase text-primary mb-0">
            Springwood <> Hubspot
          </h6>
    
          <!-- Text -->
          
    
        </div>
    
      </a>
      <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/docs/changelog.html">
  
        <!-- Icon -->
        <div class="icon text-primary-light">
          {{> files/file}}
        </div>
    
        <div class="ms-3">
    
          <!-- Heading -->
          <h6 class="text-uppercase text-primary mb-0">
            Springwood <> Mixpanel
          </h6>
    
          <!-- Text -->
          
    
        </div>
    
      </a>
      <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/docs/changelog.html">
  
        <!-- Icon -->
        <div class="icon text-primary-light">
          {{> files/file}}
        </div>
    
        <div class="ms-3">
    
          <!-- Heading -->
          <h6 class="text-uppercase text-primary mb-0">
            Springwood <> Moengage
          </h6>
    
          <!-- Text -->
          
    
        </div>
    
      </a>
      <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/docs/changelog.html">
  
        <!-- Icon -->
        <div class="icon text-primary-light">
          {{> files/file}}
        </div>
    
        <div class="ms-3">
    
          <!-- Heading -->
          <h6 class="text-uppercase text-primary mb-0">
            Springwood <> Clevertap
          </h6>
    
          <!-- Text -->
         
    
        </div>
    
      </a>
      <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/docs/changelog.html">
  
        <!-- Icon -->
        <div class="icon text-primary-light">
          {{> files/file}}
        </div>
    
        <div class="ms-3">
    
          <!-- Heading -->
          <h6 class="text-uppercase text-primary mb-0">
            Springwood <> Braze
          </h6>
    
          <!-- Text -->
         
    
        </div>
    
      </a>
      
  </div>
  