<div class="dropdown-menu" aria-labelledby="docsDropdown">
    <a class="d-flex align-items-center text-reset text-decoration-none" href="{{webRoot}}/sunedition.html">
  
    
  
      <div class="ms-3">
  
        <!-- Heading -->
        <h5 class=" text-primary mb-0">
            SunEdison
        </h5>
  
        <!-- Text -->
       
  
      </div>
  
    </a>
    <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/oneistox.html">
  
     
      <div class="ms-3">
  
        <!-- Heading -->
        <h5 class=" text-primary mb-0">
            OneistoX
        </h5>
  
        <!-- Text -->
        
  
      </div>
  
    </a>
    <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/livwell.html">
  
     
  
      <div class="ms-3">
  
        <!-- Heading -->
        <h5 class="text-primary mb-0">
            LivWell
        </h5>
  
        <!-- Text -->
        
      </div>
  
    </a>
    <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/eduployment.html">
  
      
        <div class="ms-3">
    
          <!-- Heading -->
          <h5 class="text-primary mb-0">
            EduPloyment
          </h5>
    
          <!-- Text -->
    
        </div>
    
      </a>
  </div>
  